<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Hi, {{name}}</p>
    <p>We've received a password reset request.</p>
    <p>Please, if was you, click on the link below and select a new password:</p>
    <p><a href="{{link}}">Reset Password</a></p>
    <p>If you didn't request it, please ignore this message.</p>
    <p>
        Thanks!<br />
        <strong>GoBarber Team</strong>
    </p>
</div>